{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Edit Post</h1>

        <div class="top d-flex justify-content-end">
            <a class="btn btn-sm btn-dark me-1" href="{{ path('app_post_index') }}">back to list</a>
            {{ include('post/_delete_form.html.twig') }}
        </div>

        <div class="content">
            {{ include('post/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    {{ encore_entry_script_tags('editor') }}
{% endblock %}
