{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>#{{ post.id }} {{ post.title }}</h1>

        <div class="top d-flex justify-content-end">
            <a class="btn btn-sm btn-dark" href="{{ path('app_post_index') }}">back to list</a>
            <a class="btn btn-sm btn-warning mx-1" href="{{ path('app_post_edit', {'id': post.id}) }}">edit</a>
            {{ include('post/_delete_form.html.twig') }}
        </div>

        <div class="content">
            <span class="text-muted">Date de publication : {{ post.publishedAt|date('Y/ m/ d à H:m') }}</span>
            <article class="mt-2">{{ post.content | raw }}</article>
        </div>
    </div>
{% endblock %}
